
.block-mission {
    border: #C4E0F5 2px solid;
    border-style: dashed;
    border-radius: 10px;
    width: 40%;
    position: absolute;
    
}


.block-mission:nth-child(1) {
    left: 20%;
    top: 2%;
}

.block-mission:nth-child(2) {
    left: 50%;
    top: 22%;
}
.block-mission:nth-child(3) {
    left: 60%;
    top: 42%;
}
.block-mission:nth-child(4) {
    top: 63%;
}
.block-mission:nth-child(5) {
    left: 10%;
    top: 80%;
}
.block-mission:nth-child(6) {
    left: 55%;
    top: 85%;
}

.__heading-mission h2,h3, h4 {
    color: #023E8A;
}

ul {
    list-style: square;
}

.__content-mission li {
    margin: 4px;
}

.module4 table tr {
    padding: 4px
}

.module4 table tr:nth-child(odd) {
    background-color: #C4E0F5;
}

.module4 table th:nth-child(odd) {
    color: #023E8A;
}

.module4 table tr:nth-child(1) {
    border-top: 3px #023E8A solid;
}
.module4 table tr:last-child {
    border-bottom: 3px #023E8A solid;
}

.person-info__edu thead {
    background-color: #C4E0F5;
    color: #023E8A;
    font-weight: bold;
}

.person-info__edu thead th:nth-child(1) {
    border-right: 3px #fff solid;
}

.person-info__edu tr {
    border-bottom: 3px #111 solid;
}

#thtc tr {
    border-bottom: 1px #111 solid;
    
}
#thtc2 tr {
    border-bottom: 1px #111 solid;

}

#bcbtgd table td:nth-child(1) {
    width: 30%;
}

#bcbtgd h2 {
    color: #023E8A;
}

#tmbc p {
    text-indent: 50px;
}

#tmbc #tb1 td:nth-child(2) {
    text-align: center;
}

#tmbc #tb1 tr td:nth-child(1) {
    width: 40%;
}

#tmbc #tb6 tr td:nth-child(1) {
    text-align: left;
    width: 40%;
}

#consoquantrong {
    background-image: linear-gradient(to right,#2F5597, #8FAADCed);
    height: 5px;
    width: 100%;

}

#ct .col-5 {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 2px #2F5597 solid;
}

#khpt .block-1 p {
    margin: auto 8px;
}

#ttcp-tb td:nth-child(1), #ttcp-tb td:nth-child(4),#ttcp-tb td:nth-child(5),#ttcp-tb td:nth-child(6),#ttcp-tb td:nth-child(7) {
    text-align: center;
}

#ttcp-tb td:nth-child(1),#ttcp-tb td:nth-child(2) {
    font-weight: bold;
}